<div class="content" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center">
      <form (submit)="save(tag)">
            <mat-form-field>
                <input matInput placeholder="Descrição da tag" value="Sushi" [(ngModel)]="tag.nome" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <span fxFlex></span>
            <button mat-button type="submit">Salvar</button>
      </form>
    </div>
    <div fxFlex>
      <mat-list>
        <h3 mat-subheader>Tags</h3>
        <mat-list-item *ngFor="let tag of tags">
          <h4 mat-line>{{tag.nome}}</h4>
          <button mat-icon-button (click)="delete(tag)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>